.Section1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 4.5%;
    height: 95%;
    background-color: rgb(88, 101, 242);
    border-radius: 1.5em;
    z-index: 10;
    text-align: center;
    align-content: center;
    align-items: center;
}

.ServerSection{
    position: absolute;
    left: 11%;
    top: 5%;
    z-index: 10;
    align-items: center;
}


.Section2{
    position: absolute;
    width: 20%;
    height: 95%;
    background-color: rgb(17, 21, 24);
    z-index: 1;
    border-radius: 1.5em;

}


.FriendSection{
    position: absolute;
    left: 7%;
    top: 30%;
    z-index: 10;
}

.FriendOnSection{
    position: absolute;
    top: 25%;
    left: 23%;
    z-index: 10;
}

.Section3{
    position: relative;
    width: 78%;
    height: 94%;
    top: 0;
    margin-right: 0%;
    left: 20%;
    color: aliceblue;

}

.Section4{
    top: 87.2%;
    position: absolute;
    width: 20%;
    height: 10%;
    background-color: aliceblue;
    z-index: 1;
    border-radius: 1.5em;
    background-color: rgb(46, 50, 56);
}

.ButtonLogOut{
    width: 6%;
    display: flex;
    align-self: center;
    background-color: rgb(10, 176, 176);
    color: aliceblue;
    align-items: center;
    border: none;
    border-radius: 0.5em;
    padding: 0.5%;
    margin: 2%;
}

.Icon{
    width: 80%;
    margin-top: 10%;
}

