.TextCanalDiv{
    display: flex;
    flex-direction: row;
    height: 10px;
    width: 62%;
    padding: 4%;
    margin-left: 26%;
    align-items: center;
    background-color: rgb(30, 33, 40);
    border-radius: 0.5em;
    color: aliceblue;
}
.Icon{
    margin-right: 3%;
}

.text{
    margin: 0%;
}

.backgroundNone{
    background-color: rgba(0, 0, 0, 0);
}

.backgroundFlex{
    background-color: rgb(30, 33, 40);
}

.ForumCanalDiv{
    display: flex;
    flex-direction: row;
    height: 10px;
    width: 62%;
    padding: 4%;
    margin-left: 26%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.5em;
    color: aliceblue;
}