.CheckBox{
    display: flex;
    flex-direction: row;
    width: 88%;
    align-self: center;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 6%;
}
.text{
    color: aliceblue;
    font-size: 70%;
    margin-left: 5%;
    
}