.PostCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.Post{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 92%;
    padding: 3%;
    padding-left: 4%;
    padding-bottom: 4%;
    background-color: rgb(17, 21, 24);
    border-radius: 0.8em;
    margin-right: 1%;
    margin-bottom: 1%;
}

.message{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    align-items: center;
    height: fit-content;
}

.tittle{
    font-size:medium;
    margin-top:0% ;
    margin-right: 2%;
    margin-bottom: 0%;
}
.time{
    font-size: smaller;
    color:aliceblue;
    margin-top:0% ;
    margin-bottom: 0%;
}

.img{
    width: 98%;
    height: 96%;
    object-fit: none;
    border-radius: 0.5em;
}
.Upsection{
    display: flex;
    flex-direction: row;
}