.DescriptionDiv{
    display: flex;
    flex-direction: row;
    width: 95%;
    align-items: center;
    margin-left: 15%;
}

.text{
    color: aliceblue;
    font-size: smaller;
    margin-left: 5%;
}

.link{
    display: flex;
    color: rgb(46, 188, 197);
    margin-left: 3%;
}