.WriteBar{
    position: absolute;
    top: 105%;
    width: 98.5%;
    background-color: rgb(17, 21, 24);
    padding-left: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.6em;
    margin-top: 7%;
}

.blockIcons{
    display: flex;
    margin-left: 2%;
    align-items: center;
}

.Icons{
    width: 20px;
}

.inputText{
    margin-left: 2%;
    width: 80%;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border-color: rgba(240, 248, 255, 0);
    color: aliceblue;
}

.inputImg{
    margin-left: 2%;
    width: 5%;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border-color: rgba(240, 248, 255, 0);
    color: aliceblue;
}